// Fonts
$font-family: "Montserrat", sans-serif;

// Media Queries
$phone: 400px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;

// Colors
$primary-color: #03050F; // Dark Blue
$secondary-color: #FF1C44; // Red
$background-color: #F8F9FF; // Light Gray
$black: #000000;
$white: #ffffff;
$blue-berry: #4F4FFF;
$dark-green: #00F4E2;
$lemon-green: #00FF7F;

// Units
$gap: 5rem;
$font-size: 1.6rem; // 16px
$line-height: 2rem; // 20px